#Configuration for our customer widget

<Connectivity>
   ConnectionType {{ connectionType }}
</Connectivity>

<Account Information>
   Username {{ userName }}
   Password {{ passWord }}
</Account Information>

<System Information>
   DistributionType {{ ansible_os_family }}
</System Information>

